In [2]:
import pandas as pd
d=pd.read_excel("final nan.xlsx")
d

,Unnamed: 0,S.No,District,Year,Season,Crop,Rainfall(mm),Minimum Temparature(C),Maximum Temperature (C),Ph,N(Kg/Hectar),P(Kg/Hectar),K(Kg/Hectar),Zn(ppm),Fe(ppm),Cu(ppm),Mn(ppm),Irrigation(MBGL),Yield (Bales/Hectare)
0,0,1,Adilabad,2014 - 2015,Kharif,cotton(lint),156.040000,29.100000,40.50,7.55,180.00,17.60,284.00,1.350,14.00,0.58,12.88,14.415,1.88
1,1,2,Adilabad,2015 - 2016,Kharif,cotton(lint),165.740000,26.100000,37.60,7.55,180.00,17.60,284.00,1.350,14.00,0.58,12.88,14.415,2.49
2,2,3,Adilabad,2016 - 2017,Kharif,cotton(lint),240.520000,27.300000,38.30,7.55,180.00,17.60,284.00,1.350,14.00,0.58,12.88,14.700,2.72
3,3,4,Adilabad,2017 - 2018,Kharif,cotton(lint),180.180000,27.600000,37.40,7.55,180.00,17.60,284.00,1.350,14.00,0.58,12.88,13.950,3.15
4,4,5,Adilabad,2018 - 2019,Kharif,cotton(lint),256.060000,25.380000,39.94,7.55,180.00,17.60,284.00,1.350,14.00,0.58,12.88,14.830,2.55
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
1115,1131,1132,Warangal urban,2019 - 2020,rabi,Rice,15.042900,9.600000,44.90,5.50,162.69,18.08,215.84,1.833,4.67,2.76,14.38,3.850,3.80
1116,1132,1133,Yadadri,2016 - 2017,rabi,Rice,5.171429,28.300000,41.80,6.54,170.70,34.10,283.10,3.200,8.30,1.60,7.20,9.410,3.84
1117,1133,1134,Yadadri,2017 - 2018,rabi,Rice,11.285714,20.000000,35.10,6.54,170.70,34.10,283.10,3.200,8.30,1.60,7.20,9.580,3.62
1118,1134,1135,Yadadri,2018 - 2019,rabi,Rice,6.571429,20.166667,40.70,6.54,170.70,34.10,283.10,3.200,8.30,1.60,7.20,13.640,3.53
1119,1135,1136,Yadadri,2019 - 2020,rabi,Rice,11.271429,12.200000,45.20,6.54,170.70,34.10,283.10,3.200,8.30,1.60,7.20,9.600,3.55

In [3]:
d.columns

Index(['Unnamed: 0', 'S.No', 'District', 'Year', 'Season', 'Crop',
       'Rainfall(mm)', 'Minimum Temparature(C)', 'Maximum Temperature (C)',
       'Ph', 'N(Kg/Hectar)', 'P(Kg/Hectar)', 'K(Kg/Hectar)', 'Zn(ppm)',
       'Fe(ppm)', 'Cu(ppm)', 'Mn(ppm)', 'Irrigation(MBGL)',
       'Yield (Bales/Hectare)'],
      dtype='object')

In [9]:
d['Season'].unique()

array(['Kharif', 'rabi'], dtype=object)

In [13]:
import datetime
current_date = datetime.date.today()
if current_date.month >= 6 and current_date.month <= 10:
    Season = 'Kharif'
else:
    Season = 'rabi'

district=input("Select district")
data = d[(d['District'] == district) & (d['Season'] == Season)]
data

Select districtAdilabad

,Unnamed: 0,S.No,District,Year,Season,Crop,Rainfall(mm),Minimum Temparature(C),Maximum Temperature (C),Ph,N(Kg/Hectar),P(Kg/Hectar),K(Kg/Hectar),Zn(ppm),Fe(ppm),Cu(ppm),Mn(ppm),Irrigation(MBGL),Yield (Bales/Hectare)
0,0,1,Adilabad,2014 - 2015,Kharif,cotton(lint),156.04,29.10,40.50,7.55,180.0,17.6,284.0,1.35,14.0,0.58,12.88,14.415,1.88
1,1,2,Adilabad,2015 - 2016,Kharif,cotton(lint),165.74,26.10,37.60,7.55,180.0,17.6,284.0,1.35,14.0,0.58,12.88,14.415,2.49
2,2,3,Adilabad,2016 - 2017,Kharif,cotton(lint),240.52,27.30,38.30,7.55,180.0,17.6,284.0,1.35,14.0,0.58,12.88,14.700,2.72
3,3,4,Adilabad,2017 - 2018,Kharif,cotton(lint),180.18,27.60,37.40,7.55,180.0,17.6,284.0,1.35,14.0,0.58,12.88,13.950,3.15
4,4,5,Adilabad,2018 - 2019,Kharif,cotton(lint),256.06,25.38,39.94,7.55,180.0,17.6,284.0,1.35,14.0,0.58,12.88,14.830,2.55
5,5,6,Adilabad,2019 - 2020,Kharif,cotton(lint),204.62,16.80,45.90,7.55,180.0,17.6,284.0,1.35,14.0,0.58,12.88,14.180,4.74
142,142,143,Adilabad,2014 - 2015,Kharif,Maize,156.04,29.10,40.50,7.55,180.0,17.6,284.0,1.35,14.0,0.58,12.88,14.415,2.62
143,143,144,Adilabad,2015 - 2016,Kharif,Maize,165.74,26.10,37.60,7.55,180.0,17.6,284.0,1.35,14.0,0.58,12.88,14.415,3.12
144,144,145,Adilabad,2016 - 2017,Kharif,Maize,240.52,27.30,38.30,7.55,180.0,17.6,284.0,1.35,14.0,0.58,12.88,14.700,3.46
145,145,146,Adilabad,2017 - 2018,Kharif,Maize,180.18,27.60,37.40,7.55,180.0,17.6,284.0,1.35,14.0,0.58,12.88,13.950,3.45
146,146,147,Adilabad,2018 - 2019,Kharif,Maize,256.06,25.38,39.94,7.55,180.0,17.6,284.0,1.35,14.0,0.58,12.88,14.830,3.10
147,147,148,Adilabad,2019 - 2020,Kharif,Maize,204.62,16.80,45.90,7.55,180.0,17.6,284.0,1.35,14.0,0.58,12.88,14.180,4.84
284,284,285,Adilabad,2014 - 2015,Kharif,Moong(Green Gram),156.04,29.10,40.50,7.55,180.0,17.6,284.0,1.35,14.0,0.58,12.88,14.415,0.58
285,285,286,Adilabad,2015 - 2016,Kharif,Moong(Green Gram),165.74,26.10,37.60,7.55,180.0,17.6,284.0,1.35,14.0,0.58,12.88,14.415,0.59
286,286,287,Adilabad,2016 - 2017,Kharif,Moong(Green Gram),240.52,27.30,38.30,7.55,180.0,17.6,284.0,1.35,14.0,0.58,12.88,14.700,0.65
287,287,288,Adilabad,2017 - 2018,Kharif,Moong(Green Gram),180.18,27.60,37.40,7.55,180.0,17.6,284.0,1.35,14.0,0.58,12.88,13.950,0.70
288,288,289,Adilabad,2018 - 2019,Kharif,Moong(Green Gram),256.06,25.38,39.94,7.55,180.0,17.6,284.0,1.35,14.0,0.58,12.88,14.830,0.82
289,289,290,Adilabad,2019 - 2020,Kharif,Moong(Green Gram),204.62,16.80,45.90,7.55,180.0,17.6,284.0,1.35,14.0,0.58,12.88,14.180,0.65
426,426,427,Adilabad,2014 - 2015,Kharif,Rice,156.04,29.10,40.50,7.55,180.0,17.6,284.0,1.35,14.0,0.58,12.88,14.415,2.24
427,427,428,Adilabad,2015 - 2016,Kharif,Rice,165.74,26.10,37.60,7.55,180.0,17.6,284.0,1.35,14.0,0.58,12.88,14.415,2.55
428,428,429,Adilabad,2016 - 2017,Kharif,Rice,240.52,27.30,38.30,7.55,180.0,17.6,284.0,1.35,14.0,0.58,12.88,14.700,2.58
429,429,430,Adilabad,2017 - 2018,Kharif,Rice,180.18,27.60,37.40,7.55,180.0,17.6,284.0,1.35,14.0,0.58,12.88,13.950,2.40
430,430,431,Adilabad,2018 - 2019,Kharif,Rice,256.06,25.38,39.94,7.55,180.0,17.6,284.0,1.35,14.0,0.58,12.88,14.830,3.17
431,431,432,Adilabad,2019 - 2020,Kharif,Rice,204.62,16.80,45.90,7.55,180.0,17.6,284.0,1.35,14.0,0.58,12.88,14.180,3.63

In [18]:
avg_rainfall=data['Rainfall(mm)'].mean()
avg_min_temp=data['Minimum Temparature(C)'].mean()
avg_max_temp=data['Maximum Temperature (C)'].mean()
print("avg_rainfall:",avg_rainfall)
print("avg_min_temp:",avg_min_temp)
print("avg_max_temp:",avg_max_temp)

avg_rainfall: 200.52666666666664
avg_min_temp: 25.38
avg_max_temp: 39.94

In [17]:
a=d.groupby(['District', 'Season',])[['Rainfall(mm)','Minimum Temparature(C)','Maximum Temperature (C)']].mean()
a

                       Rainfall(mm)  Minimum Temparature(C)  \
District       Season
Adilabad       Kharif    200.526667               25.380000
               rabi       12.616667               22.300000
Bhadradri      Kharif    218.820000               25.800000
               rabi       12.796429               22.033333
Jagitial       Kharif    188.360000               24.600000
...                             ...                     ...
Warangal       rabi       14.444522               23.660000
Warangal urban Kharif    201.565000               25.666667
               rabi       10.371440               19.566667
Yadadri        Kharif    129.080000               24.866667
               rabi        8.575000               20.166667

                       Maximum Temperature (C)
District       Season
Adilabad       Kharif                39.940000
               rabi                  42.220000
Bhadradri      Kharif                40.033333
               rabi                  41.700000
Jagitial       Kharif                40.266667
...                                        ...
Warangal       rabi                  41.920000
Warangal urban Kharif                39.700000
               rabi                  40.866667
Yadadri        Kharif                39.400000
               rabi                  40.700000

[64 rows x 3 columns]