In [1]:
import pandas as pd
import numpy as np
from sklearn.ensemble import  RandomForestRegressor
df=pd.read_excel("final1.xlsx")
df

,S.No,District,Year,Season,Crop,Rainfall(mm),Minimum Temparature(C),Maximum Temperature (C),Ph,N(Kg/Hectar),P(Kg/Hectar),K(Kg/Hectar),Zn(ppm),Fe(ppm),Cu(ppm),Mn(ppm),Irrigation(MBGL),Yield (Bales/Hectare)
0,1,Adilabad,2014 - 2015,Kharif,cotton(lint),156.040000,29.1,40.5,7.55,180.00,17.60,284.00,1.350,14.00,0.58,12.88,0.00,1.88
1,2,Adilabad,2015 - 2016,Kharif,cotton(lint),165.740000,26.1,37.6,7.55,180.00,17.60,284.00,1.350,14.00,0.58,12.88,NaN,2.49
2,3,Adilabad,2016 - 2017,Kharif,cotton(lint),240.520000,27.3,38.3,7.55,180.00,17.60,284.00,1.350,14.00,0.58,12.88,14.70,2.72
3,4,Adilabad,2017 - 2018,Kharif,cotton(lint),180.180000,27.6,37.4,7.55,180.00,17.60,284.00,1.350,14.00,0.58,12.88,13.95,3.15
4,5,Adilabad,2018 - 2019,Kharif,cotton(lint),256.060000,NaN,NaN,7.55,180.00,17.60,284.00,1.350,14.00,0.58,12.88,14.83,2.55
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
1131,1132,Warangal urban,2019 - 2020,rabi,Rice,15.042900,9.6,44.9,5.50,162.69,18.08,215.84,1.833,4.67,2.76,14.38,3.85,3.80
1132,1133,Yadadri,2016 - 2017,rabi,Rice,5.171429,28.3,41.8,6.54,170.70,34.10,283.10,3.200,8.30,1.60,7.20,9.41,3.84
1133,1134,Yadadri,2017 - 2018,rabi,Rice,11.285714,20.0,35.1,6.54,170.70,34.10,283.10,3.200,8.30,1.60,7.20,9.58,3.62
1134,1135,Yadadri,2018 - 2019,rabi,Rice,6.571429,NaN,NaN,6.54,170.70,34.10,283.10,3.200,8.30,1.60,7.20,13.64,3.53
1135,1136,Yadadri,2019 - 2020,rabi,Rice,11.271429,12.2,45.2,6.54,170.70,34.10,283.10,3.200,8.30,1.60,7.20,9.60,3.55

In [8]:
df.dropna(subset=['Yield (Bales/Hectare)'],inplace=True)
df.isnull().sum()

S.No                         0
District                     0
Year                         0
Season                       0
Crop                         0
Rainfall(mm)                 0
Minimum Temparature(C)     249
Maximum Temperature (C)    249
Ph                           0
N(Kg/Hectar)                 0
P(Kg/Hectar)                 0
K(Kg/Hectar)                 0
Zn(ppm)                      0
Fe(ppm)                      0
Cu(ppm)                      0
Mn(ppm)                      0
Irrigation(MBGL)           140
Yield (Bales/Hectare)        0
dtype: int64

In [18]:
df.head(10)
a=df['Year']
df.dropna(subset=['Year'],inplace=True)
df

,S.No,District,Year,Season,Crop,Rainfall(mm),Minimum Temparature(C),Maximum Temperature (C),Ph,N(Kg/Hectar),P(Kg/Hectar),K(Kg/Hectar),Zn(ppm),Fe(ppm),Cu(ppm),Mn(ppm),Irrigation(MBGL),Yield (Bales/Hectare)
0,1,0,2014 - 2015,Kharif,cotton(lint),156.040000,29.1,40.5,7.55,180.00,17.60,284.00,1.350,14.00,0.58,12.88,0.00,1.88
1,2,0,2015 - 2016,Kharif,cotton(lint),165.740000,26.1,37.6,7.55,180.00,17.60,284.00,1.350,14.00,0.58,12.88,NaN,2.49
2,3,0,2016 - 2017,Kharif,cotton(lint),240.520000,27.3,38.3,7.55,180.00,17.60,284.00,1.350,14.00,0.58,12.88,14.70,2.72
3,4,0,2017 - 2018,Kharif,cotton(lint),180.180000,27.6,37.4,7.55,180.00,17.60,284.00,1.350,14.00,0.58,12.88,13.95,3.15
4,5,0,2018 - 2019,Kharif,cotton(lint),256.060000,NaN,NaN,7.55,180.00,17.60,284.00,1.350,14.00,0.58,12.88,14.83,2.55
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
1131,1132,30,2019 - 2020,rabi,Rice,15.042900,9.6,44.9,5.50,162.69,18.08,215.84,1.833,4.67,2.76,14.38,3.85,3.80
1132,1133,31,2016 - 2017,rabi,Rice,5.171429,28.3,41.8,6.54,170.70,34.10,283.10,3.200,8.30,1.60,7.20,9.41,3.84
1133,1134,31,2017 - 2018,rabi,Rice,11.285714,20.0,35.1,6.54,170.70,34.10,283.10,3.200,8.30,1.60,7.20,9.58,3.62
1134,1135,31,2018 - 2019,rabi,Rice,6.571429,NaN,NaN,6.54,170.70,34.10,283.10,3.200,8.30,1.60,7.20,13.64,3.53
1135,1136,31,2019 - 2020,rabi,Rice,11.271429,12.2,45.2,6.54,170.70,34.10,283.10,3.200,8.30,1.60,7.20,9.60,3.55

In [21]:
import pandas as pd
from sklearn.ensemble import RandomForestRegressor

# load data


# replace 'Season' column with numeric codes
df['Season'] = df['Season'].replace({'Kharif': 0, 'Rabi': 1})

# split data into training and testing sets
train = df[df['Minimum Temperature'].notna()] # rows with non-missing values
test = df[df['Minimum Temperature'].isna()] # rows with missing values

# define input and output columns
input_cols = ['Year', 'Season', 'District']
output_cols = ['Minimum Temparature(C)', 'Maximum Temperature(c)', 'Irrigation']

# train a random forest model for each output column
for col in output_cols:
    # split training data into input and output
    X_train = train[input_cols]
    y_train = train[col]

    # train random forest model
    model = RandomForestRegressor(n_estimators=100, random_state=42)
    model.fit(X_train, y_train)

    # use model to fill in missing values in test data
    X_test = test[input_cols]
    y_test = model.predict(X_test)
    test[col] = y_test

# combine training and testing sets back into one dataframe
df_filled = pd.concat([train, test])

# save filled data to file

KeyError: 'Minimum Temperature'