In [1]:
import pandas as pd
d=pd.read_excel("final catgry.xlsx")
d

,Unnamed: 0.1,Unnamed: 0,S.No,Rainfall(mm),Minimum Temparature(C),Maximum Temperature (C),Ph,N(Kg/Hectar),P(Kg/Hectar),K(Kg/Hectar),...,Year_2017 - 2018,Year_2018 - 2019,Year_2019 - 2020,Season_Kharif,Season_rabi,Crop_Groundnut,Crop_Maize,Crop_Moong(Green Gram),Crop_Rice,Crop_cotton(lint)
0,0,0,1,156.040000,29.100000,40.50,7.55,180.00,17.60,284.00,...,0,0,0,1,0,0,0,0,0,1
1,1,1,2,165.740000,26.100000,37.60,7.55,180.00,17.60,284.00,...,0,0,0,1,0,0,0,0,0,1
2,2,2,3,240.520000,27.300000,38.30,7.55,180.00,17.60,284.00,...,0,0,0,1,0,0,0,0,0,1
3,3,3,4,180.180000,27.600000,37.40,7.55,180.00,17.60,284.00,...,1,0,0,1,0,0,0,0,0,1
4,4,4,5,256.060000,25.380000,39.94,7.55,180.00,17.60,284.00,...,0,1,0,1,0,0,0,0,0,1
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
1115,1115,1131,1132,15.042900,9.600000,44.90,5.50,162.69,18.08,215.84,...,0,0,1,0,1,0,0,0,1,0
1116,1116,1132,1133,5.171429,28.300000,41.80,6.54,170.70,34.10,283.10,...,0,0,0,0,1,0,0,0,1,0
1117,1117,1133,1134,11.285714,20.000000,35.10,6.54,170.70,34.10,283.10,...,1,0,0,0,1,0,0,0,1,0
1118,1118,1134,1135,6.571429,20.166667,40.70,6.54,170.70,34.10,283.10,...,0,1,0,0,1,0,0,0,1,0
1119,1119,1135,1136,11.271429,12.200000,45.20,6.54,170.70,34.10,283.10,...,0,0,1,0,1,0,0,0,1,0

In [2]:
d.columns

Index(['Unnamed: 0.1', 'Unnamed: 0', 'S.No', 'Rainfall(mm)',
       'Minimum Temparature(C)', 'Maximum Temperature (C)', 'Ph',
       'N(Kg/Hectar)', 'P(Kg/Hectar)', 'K(Kg/Hectar)', 'Zn(ppm)', 'Fe(ppm)',
       'Cu(ppm)', 'Mn(ppm)', 'Irrigation(MBGL)', 'Yield (Bales/Hectare)',
       'District_Adilabad', 'District_Bhadradri', 'District_Jagitial',
       'District_Jangoan', 'District_Jayashankar', 'District_Jogulamba',
       'District_Kamareddy', 'District_Karimnagar', 'District_Khammam',
       'District_Komaram bheem asifabad', 'District_Mahabubabad',
       'District_Mahbubnagar', 'District_Mancherial', 'District_Medak',
       'District_Medchal', 'District_Mulugu', 'District_Nagarkurnool',
       'District_Nalgonda', 'District_Narayanapet', 'District_Nirmal',
       'District_Nizamabad', 'District_Peddapalli', 'District_Rajanna',
       'District_Rangareddy', 'District_Sangareddy', 'District_Siddipet',
       'District_Suryapet', 'District_Vikarabad', 'District_Wanaparthy',
       'District_Warangal', 'District_Warangal urban', 'District_Yadadri',
       'Year_2014 - 2015', 'Year_2015 - 2016', 'Year_2016 - 2017',
       'Year_2017 - 2018', 'Year_2018 - 2019', 'Year_2019 - 2020',
       'Season_Kharif', 'Season_rabi', 'Crop_Groundnut', 'Crop_Maize',
       'Crop_Moong(Green Gram)', 'Crop_Rice', 'Crop_cotton(lint)'],
      dtype='object')

In [18]:
for i in d.columns:
    if (i[:4]=="Crop"):
        print("<option value="+'"'+i+'">'+i[4:]+"</option>")

<option value="Crop_Groundnut">_Groundnut</option>
<option value="Crop_Maize">_Maize</option>
<option value="Crop_Moong(Green Gram)">_Moong(Green Gram)</option>
<option value="Crop_Rice">_Rice</option>
<option value="Crop_cotton(lint)">_cotton(lint)</option>

In [17]:
for i in d.columns:
    if (i[:6]=="Season"):
        print("<option value="+'"'+i+'">'+i[7:]+"</option>")

<option value="Season_Kharif">Kharif</option>
<option value="Season_rabi">rabi</option>

In [13]:
for i in d.columns:
    if (i[:8]=="District"):
        print("<option value="+'"'+i[9:]+'">'+i[9:]+"</option>")

<option value="Adilabad">Adilabad</option>
<option value="Bhadradri">Bhadradri</option>
<option value="Jagitial">Jagitial</option>
<option value="Jangoan">Jangoan</option>
<option value="Jayashankar">Jayashankar</option>
<option value="Jogulamba">Jogulamba</option>
<option value="Kamareddy">Kamareddy</option>
<option value="Karimnagar">Karimnagar</option>
<option value="Khammam">Khammam</option>
<option value="Komaram bheem asifabad">Komaram bheem asifabad</option>
<option value="Mahabubabad">Mahabubabad</option>
<option value="Mahbubnagar">Mahbubnagar</option>
<option value="Mancherial">Mancherial</option>
<option value="Medak">Medak</option>
<option value="Medchal">Medchal</option>
<option value="Mulugu">Mulugu</option>
<option value="Nagarkurnool">Nagarkurnool</option>
<option value="Nalgonda">Nalgonda</option>
<option value="Narayanapet">Narayanapet</option>
<option value="Nirmal">Nirmal</option>
<option value="Nizamabad">Nizamabad</option>
<option value="Peddapalli">Peddapalli</option>
<option value="Rajanna">Rajanna</option>
<option value="Rangareddy">Rangareddy</option>
<option value="Sangareddy">Sangareddy</option>
<option value="Siddipet">Siddipet</option>
<option value="Suryapet">Suryapet</option>
<option value="Vikarabad">Vikarabad</option>
<option value="Wanaparthy">Wanaparthy</option>
<option value="Warangal">Warangal</option>
<option value="Warangal urban">Warangal urban</option>
<option value="Yadadri">Yadadri</option>

In [19]:
d

,Unnamed: 0.1,Unnamed: 0,S.No,Rainfall(mm),Minimum Temparature(C),Maximum Temperature (C),Ph,N(Kg/Hectar),P(Kg/Hectar),K(Kg/Hectar),...,Year_2017 - 2018,Year_2018 - 2019,Year_2019 - 2020,Season_Kharif,Season_rabi,Crop_Groundnut,Crop_Maize,Crop_Moong(Green Gram),Crop_Rice,Crop_cotton(lint)
0,0,0,1,156.040000,29.100000,40.50,7.55,180.00,17.60,284.00,...,0,0,0,1,0,0,0,0,0,1
1,1,1,2,165.740000,26.100000,37.60,7.55,180.00,17.60,284.00,...,0,0,0,1,0,0,0,0,0,1
2,2,2,3,240.520000,27.300000,38.30,7.55,180.00,17.60,284.00,...,0,0,0,1,0,0,0,0,0,1
3,3,3,4,180.180000,27.600000,37.40,7.55,180.00,17.60,284.00,...,1,0,0,1,0,0,0,0,0,1
4,4,4,5,256.060000,25.380000,39.94,7.55,180.00,17.60,284.00,...,0,1,0,1,0,0,0,0,0,1
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
1115,1115,1131,1132,15.042900,9.600000,44.90,5.50,162.69,18.08,215.84,...,0,0,1,0,1,0,0,0,1,0
1116,1116,1132,1133,5.171429,28.300000,41.80,6.54,170.70,34.10,283.10,...,0,0,0,0,1,0,0,0,1,0
1117,1117,1133,1134,11.285714,20.000000,35.10,6.54,170.70,34.10,283.10,...,1,0,0,0,1,0,0,0,1,0
1118,1118,1134,1135,6.571429,20.166667,40.70,6.54,170.70,34.10,283.10,...,0,1,0,0,1,0,0,0,1,0
1119,1119,1135,1136,11.271429,12.200000,45.20,6.54,170.70,34.10,283.10,...,0,0,1,0,1,0,0,0,1,0